{% extends "image/base.html" %}
{% block title %}
Image View
{% endblock title %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5 text-center">

            {% if current_image %}
            <img src="{{ current_image.Image.url }}" class="img-fluid rounded mb-4" style="max-height: 500px;" alt="Image {{ current_image.id }}">

            <div class="row">
                <div class="col-md-6 text-start">
                    <span class="bg-dark text-white rounded p-2">Size: {{ current_image.size_mb|floatformat:3 }} MB</span>
                    <span class="bg-dark text-white rounded p-2">Created Date: {{ current_image.Created_at }}</span>
                    <span>
                        <a href="{% url 'ImgDel' %}?Imid={{ current_image.id }}{% if aid is not None %}&aid={{ aid }}{% endif %}"
                           class="btn btn-danger btn-sm p-2"
                           onclick="return confirm('Are you sure you want to delete this image?');">
                            Trash
                        </a>
                    </span>

                </div>
                <div class="col-md-6 text-end">
                    {% if previous_image %}
                    <a href="{% url 'ImageView' %}?i={{ previous_image.id }}{% if aid is not None %}&aid={{ aid }}{% endif %}" class="btn btn-primary me-2">Previous</a>
                    {% endif %}

                    {% if next_image %}
                    <a href="{% url 'ImageView' %}?i={{ next_image.id }}{% if aid is not None %}&aid={{ aid }}{% endif %}" class="btn btn-primary ms-2">Next</a>
                    {% endif %}

                </div>
            </div>
            {% else %}
            <p>No image found.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}