{% extends "image/base.html" %}
{% block title %}
Upload Image
{% endblock title %}


{% block content %}
{% load static %}
    
    <!-- container -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mt-5">
            <form action="" method="post" enctype="multipart/form-data">
              <div class="card">
                <div class="card-header text-bg-dark">
                  Upload Image
                </div>
                <div class="card-main">
                      <div class="row m-2">
                        <div class="col">
                            <label for="Album">Album</label>
                            <select class="form-select" required name="Album_id" {% if aid %}disabled{% endif %}>
                              <option value="">Album</option>
                              {% for Al in Albums %}
                                <option value="{{ Al.id }}" {% if  Al.id == aid %}selected{% endif %}>
                                  {{ Al.AlbumName }} 
                                </option>
                              {% endfor %}
                            </select>
                            
                        </div>
                        <div class="col">
                            <label for="Image">Image</label>
                            <input required class="form-control" type="file" name="Image" id="formFile">
                        </div>
                      </div>
                </div>
                <div class="card-footer ">
                  {% csrf_token %}
                  <input type="submit" value="Upload" class="btn btn-dark">
                </div>
              </div>


            </form>
            </div>
        </div>
     </div>
    <!-- End container -->


{% endblock content %}




